.board-links-card-wrapper {
    /* background: rgb(11,159,113);
    background: linear-gradient(0deg, rgba(11,159,113,0.9136904761904762) 0%, rgba(131,227,168,1) 66%); */
    background-color: #8ee4af;
    -webkit-box-shadow: 16px 20px 24px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: 16px 20px 24px -18px rgba(0,0,0,0.75);
    box-shadow: 16px 20px 24px -18px rgba(0,0,0,0.75);
    border-radius: 10px;
    width: 30vw;
    height: fit-content;
    padding-top: 1%;
    padding-bottom: 1%;
}

.board-links {
    max-height: 325px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: green;
}

.board-links-card-header {
    font-size: 28px;
    font-weight: 600;
    color: #05386b;
    padding-left: 3.5%;
    padding-top: 1.5%;
    padding-bottom: 2.5%;
    margin-bottom: 35px;
    box-shadow: -5px 24px 5px -24px #05386b;
    display: flex;
    width: 100%;
}

.board-links-card-name {
    width: 62%;
    border-right: 1px solid #05386b6c;
}

.board-links-create-board {
    width: 25%;
    float: right;
    margin-left: 15px;
}

@media screen and (max-width: 1500px) {
    .board-links {
        max-height: 250px;
    }
}