.account-dashboard-chart-wrapper {
    width: 30vw;
    background-color: #8ee4af;
    height: 25vh;
    border-radius: 10px;
    -webkit-box-shadow: 16px 20px 24px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: 16px 20px 24px -18px rgba(0,0,0,0.75);
    box-shadow: 16px 20px 24px -18px rgba(0,0,0,0.75);
}

.account-dashboard-chart-card {
    width: 41.5%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    float: right;
    background-color: #b6e9ca;
    
}

.account-dashboard-chart-text-wrapper {
    width: 15vw;
    float: left;
    margin-left: 2.5%;
    margin-top: 2.5%;
    min-height: 200px;
    text-overflow: ellipsis;
}

.account-dashboard-chart-header {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 7.5%;
    box-shadow: -5px 24px 5px -24px #05386b;
}

.account-dashboard-chart-text {
    font-size: 24px;
    margin-bottom: 7.5%;
}