@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap');


* {
    font-family: 'Barlow Condensed', sans-serif;
}

.recent-activity-cards-wrapper {
    border-left: 2px #05386b thin;
    border-radius: 10px;
    height: fit-content;
    width: 40vw;
    /* background: rgb(11,159,113);
    background: linear-gradient(0deg, rgba(11,159,113,0.9136904761904762) 0%, rgba(131,227,168,1) 66%); */
    background-color: #8ee4af;
    -webkit-box-shadow: 16px 20px 24px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: 16px 20px 24px -18px rgba(0,0,0,0.75);
    box-shadow: 16px 20px 24px -18px rgba(0,0,0,0.75);
    padding-bottom: 2%;
    
}

.recent-activity-header {
    font-size: 2.5em;
    font-weight: 600;
    margin-left: 0.65em;
    margin-bottom: 5%;
    padding-top: 0.5em;
    padding-left: 0.1em;
    padding-bottom: 0.3em;
    color: #05386b;
    box-shadow: -19px 24px 5px -24px #05386b;
}

.recent-activity-snippets-scroll {
    max-height: 435px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: green;
}

@media screen and (max-width: 1500px) {
    .recent-activity-snippets-scroll {
        max-height: 350px;
    }

    .recent-activity-cards-wrapper {
        max-width: 40vw;

    }
}