.recent-activity-snippet-wrapper {
    box-shadow: 0px 24px 3px -24px #05386b;
    margin-top: 2%;
    margin-bottom: 6%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 6px;
    transition: all 0.35s ease 0s;
    background-color: #b6e9ca;
}

.recent-activity-snippet-wrapper:hover {
    background-color: #c4e5d1;
    transition: all 0.35s ease 0s;
}

.recent-activity-snippet-header {
    color: #05386b;
    font-size: 28px;
    font-weight: 500;
    padding-top: 1%;
    padding-left: 4.4%;
    padding-bottom: 2%;
    box-shadow: 0px 24px 3px -24px #05386b;
}

.recent-activity-snippet-header:hover > .recent-activity-snippet-details-wrapper {
    background-color: red;
}

.recent-activity-snippet-details-wrapper {
    display: flex;
    border-bottom-style: solid;
    border-bottom-color: #05386b6e;
    border-bottom-width: 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 0.15s ease 0s;
}

.recent-activity-snippet-details-wrapper:hover {
    padding-left: 10px;
    transition: all 0.15s ease 0s;
    background-color: #ffffff5e;
}

.recent-activity-snippet-details-chargeDate {
    font-size: 24px;
    padding-left: 4.4%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 3%;
    text-overflow: ellipsis;
    float: left;
    width: 17%;
    border-right-style: solid;
    border-right-color: #05386b6e;
    border-right-width: 1px;
}

.recent-activity-snippet-details-chargeAmount {
    font-size: 24px;
    padding-right: 4.4%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-overflow: ellipsis;
    float: right;
    text-align: right;
    width: 22%;
}

.recent-activity-snippet-details-chargeName {
    font-size: 24px;
    padding-top: 1%;
    margin-left: 2.5%;
    width: 65%;
    text-overflow: ellipsis;
}