@import url(https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap%27);
*{
    font-family: 'Barlow Condensed', sans-serif;
    color: #05386b;
     
}
body{
    background: rgb(5,98,107);
    background: radial-gradient(circle, rgba(5,98,107,1) 0%, rgba(55,150,131,1) 100%);
}
.container-content{
   margin-left: 35%;
}
.container-content{
    padding: 0.5rem; 
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(17, 12, 46, 0.8);
}
.container-content{
    width: 30%;
    min-width: 350px;
    min-height: 250px;
    height: 350px;
    background-color: #5cdb95;
    /* text-align: center; */
    /* margin: 0 auto; */
    display: flex;
    /* justify-content: center; */  
}
.edit_profile_header{
    text-align: center;
}

.inside{
   margin-top: 1rem;
}
.inside-profile{
    margin-top: 7.50%;
}

.submit{
    margin-left: 40%;
}

header{
    text-align: center;
    box-shadow: 0px 5px 10px rgba(17, 12, 46, 0.8);
    background-color: white;
}

.edit-profile-textfield {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 80%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #edf5e1;
}

.edit-profile-image {
    width: 100px;
    height: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    border-radius: 12px;
    border: 2px solid #05386b;
}

.pic-display {
    display: flex;
}

.new_pfp_button{
    cursor: pointer;
    float: right;
    height: 35px;
    margin-left: 10px;
    transform: translateY(200%);
    background-color: rgb(5,98,107);
    text-transform: none;
    color: #fff;
    font-size: 16px;
    font-family: 'Barlow Condensed', sans-serif;
    border-color: #00000000;
    border-radius: 5px;
    transition: 0.2s all;
}

.new_pfp_button:hover {
    background-color: rgb(0, 77, 66);
    text-transform: none;
    color: #000;
    transition: 0.2s all;
}

.edit-profile-title {
    margin-top: 10px;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 5%;
    -webkit-box-shadow: 0px 10px 5px -21px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 11px -21px rgba(0,0,0,0.75);
    box-shadow: 0px 22px 10px -21px rgba(0,0,0,0.75);
}

.update-user-information {
    background-color: rgb(5,98,107);
    text-transform: none;
    color: #fff;
    font-size: 16px;
    font-family: 'Barlow Condensed', sans-serif;
    border-color: #00000000;
    border-radius: 5px;
}

.update-user-information:hover {
    background-color: rgb(0, 77, 66);
    text-transform: none;
    color: #000;
    transition: 0.2s all;
}

.edit-profile-image-div {
    display: flex;
}

.edit-profile-image-text {
    font-size: 20px;
    font-weight: 500;
    margin-top: 18px;
    margin-left: 55px;
}