@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap');

#transaction-button-wrapper {
    background-color: #05386b;
    border-radius: 6px;
    border-style: none;
    margin-right: 20px;
    transition: 0.15s;
}

#transaction-button-wrapper:hover {
    background-color: #5cdb95;
    transition: 0.15s;
}

#add-transaction-button {
    color: #fff;
    text-transform: none;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

#add-transaction-button-plusIcon {
    height: 25px;
    width: auto;
    margin-right: 6px;
    border-radius: 90px;
}

#transaction-button-wrapper #add-transaction-dialog-box .add-transaction-form {
    font-family: 'Barlow Condensed', sans-serif;
}