.board-header-wrapper {
    border-radius: 10px;
    padding: 2.5%;
}


.board-header-title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 3%;
}

.board-header-description {
    font-size: 24px;
    margin-bottom: 3%;
}

.board-header-remaining-budget {
    font-size: 24px;
    font-weight: 500;
    text-align: right;
}