:root {
    --dynamic-height: ;
    --dynamic-bg: red;
}

.savings-bucket-wrapper-wrapper {
    width: 12%;
    height: 100%;
    position: relative;
}

.savings-board-bucket-wrapper {
    background-color: rgba(161, 230, 171, 0.75);
    height: var(--dynamic-height);
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 0.75vw;
    transition: 0.5s all;
    position: absolute;
    bottom: 0;
    -webkit-box-shadow: 3px 0px 14px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 0px 14px -4px rgba(0,0,0,0.75);
    box-shadow: 3px 0px 14px -4px rgba(0,0,0,0.75);
}

.savings-board-bucket-wrapper:hover {
    transition: 0.5s all;
    background-color: rgba(97, 230, 117, 0.95);
    -webkit-box-shadow: -8px -5px 14px -7px rgba(0,0,0,0.4);
    -moz-box-shadow: -8px -5px 14px -7px rgba(0,0,0,0.4);
    box-shadow: -8px -5px 14px -7px rgba(0,0,0,0.4);
}

.savings-board-bucket {
    height: 100%;
}

.savings-board-bucket-remaining-budget {
    font-size: 24px;
    padding-left: 3%;
    margin-top: -15%;
}

.savings-board-bucket-day {
    display: flex;
    font-size: 18px;
    padding-left: 5%;
    padding-top: 3.5%;
    height: 100%;
    width: 20%;
    background-color: rgba(99, 99, 99, 0.082);
    border-top-left-radius: 8px;
}

.low-budget-red {
    background-color: rgba(253, 99, 99, 0.712);
    height: var(--dynamic-height);
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 0.75vw;
    transition: 0.5s all;
    position: absolute;
    bottom: 0;
    border-right: 1px solid;
    -webkit-box-shadow: 3px 0px 14px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 0px 14px -4px rgba(0,0,0,0.75);
    box-shadow: 3px 0px 14px -4px rgba(0,0,0,0.75);
}

.low-budget-red:hover {
    transition: 0.5s all;
    background-color: rgba(255, 49, 49, 0.712);
    -webkit-box-shadow: -8px -5px 14px -7px rgba(0,0,0,0.4);
    -moz-box-shadow: -8px -5px 14px -7px rgba(0,0,0,0.4);
    box-shadow: -8px -5px 14px -7px rgba(0,0,0,0.4);
}

.medium-budget-orange {
    background-color: rgba(253, 227, 114, 0.61);
    height: var(--dynamic-height);
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 0.75vw;
    transition: 0.5s all;
    position: absolute;
    bottom: 0;
    border-right: 1px solid;
    -webkit-box-shadow: 3px 0px 14px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 0px 14px -4px rgba(0,0,0,0.75);
    box-shadow: 3px 0px 14px -4px rgba(0,0,0,0.75);
}

.medium-budget-orange:hover {
    transition: 0.5s all;
    background-color: rgba(252, 223, 93, 0.89);
    -webkit-box-shadow: -8px -5px 14px -7px rgba(0,0,0,0.4);
    -moz-box-shadow: -8px -5px 14px -7px rgba(0,0,0,0.4);
    box-shadow: -8px -5px 14px -7px rgba(0,0,0,0.4);
}