.savings-board-bucket-wrapper-green {
    background-color: rgba(161, 230, 171, 0.75);
    height: 35vh;
    width: 12%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 1vw;
}

.savings-board-bucket-wrapper-red {
    background-color: rgba(248, 97, 77, 0.75);
    height: 35vh;
    width: 12%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 1vw;
}

.savings-board-bucket-wrapper-yellow {
    background-color: rgba(248, 246, 119, 0.75);
    height: 35vh;
    width: 12%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 1vw;
}